<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todolist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4CEA4881C819F3E0098FF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CEA49C1C819F3F0098FF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CEA4A71C819F3F0098FF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
